<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        標題放這裡
    </title>
    <meta property="og:title" content="歷史學柑仔店（kám-á-tiàm）">
    <meta property="og:description" content="歷史學柑仔店（kám-á-tiàm）">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://kam-a-tiam-test.surge.sh/images/sticker.jpg">
    <link rel="shortcut icon" type="image/png" href="/images/favicon.png" />
    <link rel="stylesheet" href="/styles/Main_body.css">
</head>

<body>
    <div class="wrapper-box">
        <!-- Header START -->
        <link rel="stylesheet" href="/styles/Header.css">
        <div class="header-shift-box"></div>
        <header class="nav-down">
            <div class="header-box" id="header-name-box">
                歷史學柑仔店（kám-á-tiàm）
            </div>
            <div class="header-box" id="header-icon-box"></div>
            <div class="header-box" id="header-icon-box">
                <div class="header-text-box">
                    <a href="/index.html" class="header-href">Home</a>
                </div>
            </div>
            <div class="header-box" id="header-icon-box">
                <div class="header-text-box">
                    <a href="/article/article.html" class="header-href">全部文章</a>
                </div>
            </div>
            <div class="header-box" id="header-icon-box">
                <a href="https://www.facebook.com/historyforumtw" target="_blank">
                    <img src="/images/icons/fb_icon.png" alt="fb icon" id="header-fb_icon">
                </a>

            </div>
        </header>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="/JS_Script/Header.js"></script>
        <!-- Header END -->

        <!-- Main picture START -->
        <link rel="stylesheet" href="/styles/Main_pic.css">
        <div class="main-pic-box">
            <div class="main-pic-img"></div>
        </div>
        <!-- Main picture END -->

        <!-- Content START -->
        <link rel="stylesheet" href="/styles/Content.css">
        <div class="content-box">
            <!-- Content left START -->
            <div class="content-left-box">
                <link rel="stylesheet" href="/styles/Article.css">
                <div class="article">
                    <!-- TODO:文章從這裡開始 -->
                    <h1>
                        標題
                    </h1>
                    <h4>
                        日期
                    </h4>
                    <br>
                    <p>
                        <h3 class="author">
                            作者
                        </h3>
                    </p>
                    <!-- TODO:本文從這裡開始 -->

                    <!-- 以下<div>內為各種範例  寫完請刪除 -->
                    <div style="border: red 1px dotted;">
                        <!-- 分段標題範例 -->
                        <br>
                        <p>
                            <h2 class="title">標題</h2>
                        </p>
                        <br>

                        <!-- 文章中超連接範例 -->
                        <a href="連結" class="article-href" target="_blank">文字</a>

                        <!-- 註腳範例（記得改數字） -->
                        <a href="#anchor1foot" name="anchor1" class="article-anchor-href">[1]</a>

                        <!-- 圖片+圖標範例 -->
                        <br>
                        <div class="img-box">
                            <img src="./image/example.jpg" alt="圖片名字">
                        </div>
                        <p class="img-tag">
                            圖片註解
                        </p>
                        <br>
                    </div>

                    <!-- 註腳範例 -->
                    <br>
                    <br>
                    <div class="article-footer">
                        <h4>註腳</h4>
                        <p>
                            <!-- 記得改數字 -->
                            <a href="#anchor1" name="anchor1foot" class="article-anchor-href" class="smoothScroll">[1]</a>
                            <!-- TODO:註腳請打在這裡 -->

                        </p>
                    </div>

                    <!-- TODO:文章到這裡結束 -->
                    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
                    <script src="/JS_Script/ScrolltoTag.js"></script>
                </div>
            </div>
            <!-- Content left END -->
            <!-- Content right START -->
            <div class="content-right-outside-box">
                <div class="content-right-box">
                    <div class="content-introduction-box">
                        <img src="/images/sticker.jpg" alt="kám-á-tiàm" class="content-introduction-img">
                        <div class="content-introduction-text-box">
                            <div class="content-introduction-text">我們是一群嘗試從臺灣思考歷史的書寫的史學界夥伴。我們成立了一個「歷史學柑仔店（kám-á-tiàm）」部落格。</div>
                        </div>
                    </div>
                    <div class="content-recommended-sites-box">
                        <!-- Recommended sites START -->
                        <div class="content-recommended-sites-title">友站連結</div>
                        <div class="content-recommended-sites">
                            <a href="https://gushi.tw/" class="content-recommended-sites-href" target="_blank">故事：寫給所有人的歷史</a>
                            <br>
                            <br>
                            <a href="http://www.hisp.ntu.edu.tw/" class="content-recommended-sites-href" target="_blank">HISP 新作坊</a>
                            <br>
                            <br>
                            <a href="https://arthistorystrolls.com/" class="content-recommended-sites-href" target="_blank">漫遊藝術史</a>
                            <br>
                            <br>
                            <a href="http://whogovernstw.org/" class="content-recommended-sites-href" target="_blank">菜市場政治學</a>
                            <br>
                            <br>
                            <a href="http://guavanthropology.tw/" class="content-recommended-sites-href" target="_blank">芭樂人類學</a>
                            <br>
                            <br>
                            <a href="https://twstreetcorner.org/" class="content-recommended-sites-href" target="_blank">巷仔口社會學</a>
                            <br>
                            <br>
                            <a href="http://legalhistorytw.blogspot.tw/" class="content-recommended-sites-href" target="_blank">台灣法律史學會</a>
                            <br>
                            <br>
                            <a href="http://pubmedtw.blogspot.tw/" class="content-recommended-sites-href" target="_blank">公醫時代</a>
                            <br>
                            <br>
                            <a href="https://g0v.tw/zh-TW/index.html" class="content-recommended-sites-href" target="_blank">G0V零時政府</a>
                            <br>
                            <br>
                            <a href="http://proj1.sinica.edu.tw/~damta/" class="content-recommended-sites-href" target="_blank">中研院臺灣考古數位典藏博物館</a>
                            <br>
                            <br>
                            <a href="http://journal.ndhu.edu.tw/e_paper/e_paper.php" class="content-recommended-sites-href" target="_blank">人社東華</a>
                            <br>
                            <br>
                            <a href="https://mapstalk.blogspot.tw/" class="content-recommended-sites-href" target="_blank">地圖會說話</a>
                            <br>
                            <br>
                            <a href="https://watchout.tw/" class="content-recommended-sites-href" target="_blank">沃草！（Watchout!）</a>
                            <br>
                            <br>
                            <a href="https://plainlaw.me/" class="content-recommended-sites-href" target="_blank">法律白話文運動</a>
                            <br>
                            <br>
                            <a href="http://www.digital.ntu.edu.tw/" class="content-recommended-sites-href" target="_blank">臺灣大學數位人文研究中心</a>
                            <br>
                            <br>
                            <a href="https://tmantu.wordpress.com/" class="content-recommended-sites-href" target="_blank">臺灣與海洋亞洲</a>
                        </div>
                        <!-- Recommended sites END -->
                    </div>
                </div>
            </div>
            <!-- Content right END -->
        </div>

        <!-- Content END -->

        <!-- Footer START -->
        <link rel="stylesheet" href="/styles/Footer.css">
        <footer>
            <div class="footer-text">
                本網站僅為練習作品，非歷史學柑仔店網站，請勿轉載使用
                <br>欲使用請洽歷史學柑仔店原站（
                <a href="http://kam-a-tiam.typepad.com/blog/" target="_blank">http://kam-a-tiam.typepad.com/blog/</a>）
                <br>
                <br>欲聯絡本網站作者請洽
                <a href="mailto:b05902030@ntu.edu.tw">沙佳哲 b05902030@ntu.edu.tw</a>
                <br>Source code：
                <a href="https://github.com/SaKaTetsu/kam-a-tiam-test" target="_blank">https://github.com/SaKaTetsu/kam-a-tiam-test</a>
            </div>
            <div class="footer-icons">
                <a href="mailto:kamatiam@gmail.com">
                    <img src="/images/icons/mail_icon.png" alt="mail" id="footer-mail_icon">
                </a>
                <a href="http://kam-a-tiam.typepad.com/blog/" target="_blank">
                    <img src="/images/icons/fb_icon.png" alt="facebook" id="footer-fb_icon">
                </a>
            </div>
        </footer>
        <!-- Footer END -->
    </div>

    <!-- Go to top button START-->
    <link rel="stylesheet" href="/styles/BacktoTopButton.css">
    <button onclick="topFunction()" id="myBtn" title="Go to top">Λ</button>
    <script src="/JS_Script/BacktoTopButton.js"></script>
    <!-- Go to top button END-->

</body>

</html>