.article{
    width: 100%;
    height: auto;
    padding: 10px;
}

.article>p{
    line-height: 26px;
}

.author {
    color: #910B10;
}

.title {
    color: #01007C;
}

.img-box {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.img-box>img {
    width: auto;
    height: 100%;
}

.img-tag {
    text-align: center;
    color: #979C44;
    font-size: small;
}

.article-href{
    color: #298CB1;
    text-decoration: none;
}

.article-footer {
    padding: 30px;
    padding-bottom: 0px;
}

.article-anchor-href{
    color:#298CB1;
    text-decoration: none;
}